<!DOCTYPE html>
<html>
    <head lang="pl">
        <meta charset="UTF-8">
        <title>Google</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link rel="icon" href="icon.png">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="style2.css">
        <link rel="stylesheet" type="text/css" href="autocompleter.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script src="cities.js" ></script>
		<script src="https://kit.fontawesome.com/ffc589d0fc.js" crossorigin="anonymous"></script>
    </head>

	<body class="home">
        <div id="start" :class="{results : aktywne()}">
    
            <header>
    
                <div class="h-flex_container">
    
                    <section class="h-flex_element linki">
                        <a  class="aplikacje">Gmail</a>
                        <a  class="aplikacje">Grafika</a>
                    </section>
                    <div class=" up">
                    <section class="m-flex_element pasek-flex">
                        <div class="szukaj">
                            <input class="wyszukiwanie" ref="top" v-model="googleSearch" maxlength="2048" @focus="skupienie = true" @keyup.down="dol()" @keyup.up="gora()" @keyup.enter="enter()"/>                       
                                <div class="iks">
                                <img title="Wyczyść" class="clear" src="iks.svg"/>
                                <span class="kreska"></span>
                                </div>
                            <img class="keyboard" src="keyboard.svg"/>
                            <img class="mikrofon" src="voice.png"/>
                            <button id="przycisk_szukaj"><img class="lupa" src="lupa_2.svg"/></button>
                        </div>
                        <div  id="wypisz_miasta" class="lista_miast" :class="{widok : googleSearch.length > 0 /*&& skupienie*/ && filtrowaneMiasta.length>0}" >
                            <ul >
                                <li  v-for="(miasto,index) in filtrowaneMiasta" >
                                    <div class="lista_elementow" :class="{klasa_skupienie:index == zaznaczenie}">
                                        <img class="lupa" src="lupa.svg" />
                                        <a href="#" v-html="wytluszcz(miasto)" v-on:click="wybrane(index)"><b>{{ miasto }}</b></a>  
                                    </div>
                                </li>
                            </ul>
                        </div> 
                    </section>
                </div>
    
                    <section class="h-flex_element aplikacja">
                        <a class="aplikacja" style="cursor:pointer;"><img class="aplikacja" src="menu.svg" /></a>
                        <a class="pczycisk_login" style="cursor:pointer;">Zaloguj się</a>
                    </section>
                </div>
    
                <div class="aplikacje">
                    <section class="apki wszystko">Wszystko</section>
                    <section class="apki">Grafika</section>
                    <section class="apki">Mapy</section>
                    <section class="apki">Wiadomości</section>
                    <section class="apki">Wideo</section>
                    <section class="apki">Więcej</section>
                    <section class="apki">Ustawienia</section>
                    <section class="apki">Narzędzia</section>
    
                </div>
            </header>
    
            <main>
    
                <div class="m-flex_container">
                    
                    <div class="liczba_wynikow"style="margin-top:-50px;">Około 15 200 000 wyników (0,44 s) </div>
                    <section class="m-flex_element"><a id="google_link">
                        <img  class="googleLogo" src="logo.png" /></a></section>
                    <form class="szukanie">
                        <section class="m-flex_element pasek-flex glowne" >
                            <div class="szukaj">
                                <img class="lupa" src="lupa.svg" />
                                <input class="wyszukiwanie" maxlength="2048" v-model="googleSearch" @focus="skupienie = true" @keyup.enter="enter()" @keyup.down="dol()" @keyup.up="gora()"/>
                                <img class="clear" src="Obrazki/clear.svg"/>
                                <img class="keyboard" src="keyboard.svg"/>
                                <img class="mikrofon" src="voice.png"/>
                            </div>
                            <div  id="listaMiast" class="nazwy_miast" :class="{widok : googleSearch.length > 0 /*&& skupienie*/ && filtrowaneMiasta.length>0}" >
                                <ul >
                                    <li  v-for="(miasto,index) in filtrowaneMiasta" >
                                        <div class="lista_elementow" :class="{klasa_skupienie:index == zaznaczenie}">
                                            <img class="lupa" src="lupa.svg" />
                                            <a href="#" v-html="wytluszcz(miasto)" v-on:click="wybrane(index)"><b>{{ miasto }}</b></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        
    
                    </form>
                    <div class="m-flex_element przyciski" :class="{ukryte : googleSearch.length > 0 && skupienie && filtrowaneMiasta.length>0}">
                        <input class="przycisk jeden" type="submit" value="Szukaj w Google" />
                        <input class="przycisk" type="submit" value="Szczęśliwy traf" />
                    </div>
                </div>
                <div class="zawartosc" >

                    <div class="wynik">
                        <div class="naglowek"style="margin-top:-25px;">
                            <div class="hiperlacze">
                                <div class="adres">     
                                    <cite class="skrot">
                                        https://support.google.com
                                        <span class="rodzaj"> › websearch ›answer </span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://support.google.com/websearch/answer/1710607?co=GENIE.Platform%3DAndroid&hl=plE">Sprawdzanie wyników wyszukiwania podróży przez Gmaila ...</a>
                            </div>
                        </div>
                        <div class="streszczenie">
                            <span class="opis">
                                Zobacz wyniki z innego konta Google. Uwaga: aby wykonać te czynności, musisz zalogować się na konto Google. Na telefonie lub tablecie z Androidem otwórz ...
                            </span>
                        </div>
                    </div>
    
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        https://support.google.com
                                        <span class="rodzaj"> › websearch ›answer</span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://support.google.com/websearch/answer/9603785?hl=pl">Znajdowanie większej liczby wyników wyszukiwania w Google</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                Podczas wyszukiwania w Google możesz znaleźć tysiące, a nawet miliony pasujących stron internetowych. Najtrafniejsze wyniki są wyświetlane jako pierwsze.
                            </span>
                        </div>
                    </div>
    
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        www.pozycjonusz.pl
                                        <span class="rodzaj"> › rodzaje-wynikow-wyszuk...</span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://www.pozycjonusz.pl/rodzaje-wynikow-wyszukiwania-google/">Rodzaje wyników wyszukiwania Google - ponad 20 ...</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                7) Wewnętrzna wyszukiwarka. Rodzaje wyników wyszukiwania Google wzbogacono jakiś czas temu o funkcję wewnętrznej wyszukiwarki. To rozwiązanie, bez ...
                            </span>
                        </div>
                    </div>
    
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        https://widoczni.com
                                        <span class="rodzaj"> › rodzaje-wynikow-wyszuk...</span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://widoczni.com/blog/jak-wyszukiwac-w-google/">14 sposobów wyszukiwania w Google, których 95% z Was nie ...</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                Szukanie frazy – zastosowanie cudzysłowu. Wyniki wyszukiwania w Google konkretnych fraz mogą być bardziej trafne, gdy zastosujemy cudzysłów. Algorytmy ...
                            </span>
                        </div>
                    </div>
    
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        https://www.empressia.pl
                                        <span class="rodzaj"> › blog ›115-rozne-wyniki-w...</span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://www.empressia.pl/blog/115-rozne-wyniki-wyszukiwania-google">Wyniki wyszukiwań Google – skąd takie rozbieżności?</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                21 lut 2019 — Otóż inaczej będą prezentować się wyniki wyszukiwania po wpisaniu tej samej frazy przez ... Google przechwytuje adres IP i za jego pomocą generuje wyniki, np. po wpisaniu frazy ... Jaki jest koszt pozycjonowania sklepu?
                            </span>
                        </div>
    
                    </div>
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        https://wiwi.pl
                                        <span class="rodzaj"> › Blog </span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://wiwi.pl/wyniki-wyszukiwania-google-przyklady/">Wyniki wyszukiwania Google: 10 przykładów - Agencja ...</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                10 wrz 2020 — A jest tego dużo, dużo więcej. Poznaj przykłady, w jaki sposób Google pomaga użytkownikom Internetu odnaleźć potrzebne wiadomości. Spis ...
                            </span>
                        </div>
                    </div>
    
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        https://www.telepolis.pl
                                        <span class="rodzaj"> › wiadomosci › aplikacje ›wys...</span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://www.telepolis.pl/wiadomosci/aplikacje/wyszukiwarka-google-search-wyniki-wyszukiwania-android">Wyszukiwarka Google powie więcej o wynikach wyszukiwania ...</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                2 lut 2021 — Szczegóły wyników wyszukiwania w Google. W polu z informacjami o ... co masz do Wikipedii? Jeśli widzisz jakiś błąd, to możesz go poprawić.
                            </span>
                        </div>
                    </div>
    
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        https://spidersweb.pl
                                        <span class="rodzaj"> › 2020/01 › google-wyniki-wyszu...</span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://spidersweb.pl/2020/01/google-wyniki-wyszukiwania-reklamy.html">Krytycy ganią Google'a za nowy wygląd wyników wyszukiwania</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                24 sty 2020 — Google co jakiś czas eksperymentuje z tym, jak wyglądają jego wyniki wyszukiwania i w jaki sposób odróżniają się od nich reklamy. Trudno ...
                            </span>
                        </div>
                    </div>
    
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        https://ks.pl
                                        <span class="rodzaj"> › jak-sprawdzic-pozycje-w-stronie-google</span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://ks.pl/blog/jak-sprawdzic-pozycje-strony-w-google">Pozycja w Google – jak sprawdzić, na której pozycji jest moja ...</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                Tak naprawdę nie są znane wszystkie kryteria, jakimi kieruje się algorytm, nadając stronom pozycje w wynikach wyszukiwania. W dodatku algorytm jest co jakiś ...
                            </span>
                        </div>
                    </div>
    
                    <div class="wynik">
                        <div class="naglowek">
                            <div class="hiperlacze">
                                <div class="adres">
                                    <cite class="skrot">
                                        https://www.google.com
                                        <span class="rodzaj"> › howserchworks › algorithms</span>
                                    </cite>
                                </div>
                                <a class="tytul" href="https://www.google.com/intl/pl/search/howsearchworks/algorithms/">Jak działa wyszukiwarka Google | Algorytmy wyszukiwania</a>
                            </div>
                        </div>
    
                        <div class="streszczenie">
                            <span class="opis">
                                Dowiedz się, w jaki sposób algorytmy wyszukiwania Google znajdują najbardziej trafne wyniki za pomocą metod takich jak analiza słów w wyszukiwanym haśle ...
                            </span>
                        </div>
                    </div>
                </div>

            </main>
    
            <footer class="down">
                <div class="textdown">
                    <div class="panstwo">Polska</div>
                </div>
    
                <div class="footer_container">
                    <section class="f_flex_element pierwsza">
                        <a class="sekcja-item link odstep">O nas</a>
                        <a class="sekcja-item link odstep">Reklamuj się</a>
                        <a class="sekcja-item link odstep">Dla firm</a>
                        <a class="sekcja-item link odstep">Jak działa wyszukiwarka</a> 
                        <img  style="width:12px;height:15px;margin-top:13px;margin-left:30px;" src="lisc_footer.png"/>                       
                        <a class="sekcja-item link odstep" style="margin-left:-5px;">Neutralność węglowa od 2007 roku</a>

                        
                    </section>
                    <section class="f_flex_element druga">
                        <a class="sekcja-item link">Pomoc</a>
                        <a class="sekcja-item link">Prywatność</a>
                        <a class="sekcja-item link">Warunki</a>
                        </div>
                    </section>
                </div>
            </footer>
        </div>
    </body>
    
    <script>
        var app = new Vue(
            {
            el: '#start',
            data: {
                googleSearch: '',
                searchedInput:'',
                filtrowaneMiasta:"",
                cities: window.cities,
                filtrowane_miasta_aktualizacja:true,
                skupienie: false,
                zmiana: false,
                zaznaczenie: -1,
            },
            watch: 
            {
                zaznaczenie: function () 
                {
                this.filtrowane_miasta_aktualizacja=false;
                this.googleSearch=this.filtrowaneMiasta[this.zaznaczenie].name;
                },
                googleSearch: function()
                {
                    this.filtrowane_miasta_utworz(this.filtrowane_miasta_aktualizacja);
                    this.filtrowane_miasta_aktualizacja=true;
                    console.log(this.filtrowaneMiasta);
                    if(this.zaznaczenie==-1)
                    {
                        this.searchedInput=this.googleSearch;      
                    }
                }
            },
            methods:
            {
                enter() 
                {
                    this.filtrowaneMiasta=true;
                    this.zmiana= true;
                    this.zaznaczenie=-1;
                    this.skupienie = false;
                 },
                dol()
                {
                    if(this.zaznaczenie<this.filtrowaneMiasta.length-1)
                    {
                        this.zaznaczenie+=1; 
                    }
                    else if(this.zaznaczenie==this.filtrowaneMiasta.length-1)
                    {
                        this.zaznaczenie=0; 
                    }
                 },
                 gora()
                 {
                    if(this.zaznaczenie>0)
                    {
                        this.zaznaczenie-=1; 
                    }
                    else if(this.zaznaczenie==0)
                    {
                        this.zaznaczenie=this.filtrowaneMiasta.length-1;
                    }
                 },
                 wybrane(i)
                 {
                    this.googleSearch=this.filtrowaneMiasta[i].name;
                    this.enter();
                 },
                 aktywne()
                 {
                    if(this.googleSearch.length==0){
                        this.zmiana=false;
                    }
                    return this.zmiana;
                 },
                 filtrowane_miasta_utworz(prawda)
                 {
                     if(prawda)
                     {
                        let result=this.cities.filter(miasto => miasto.name.includes(this.googleSearch));
                        if(result.length>10)
                        {
                            this.filtrowaneMiasta= result.slice(1, 11);
                        }
                        else{
                            this.filtrowaneMiasta= result;
                        }
                        this.zaznaczenie=-1;
                     }   
                 },
                 wytluszcz(miasto)
                {
                    let re = new RegExp(this.searchedInput,"gi");
                    let bolden="<b>"+miasto.name.replace(re, match=>
                        {
                         return "<span class='zwykly'>"+ match+"</span>";
                        })+"</b>";
                    console.log(bolden);
                    return bolden;
                }      
            }
        })
    </script>
    </html>